<%= form_for(@reclamacao) do |f| %>
  <% if @reclamacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reclamacao.errors.count, "error") %> prohibited this reclamacao from being saved:</h2>

      <ul>
      <% @reclamacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :usuario %><br />
    <%#= f.collection_select(:usuario_id, Usuario.all, :id, :login, {include_blank: true}) %>
    <%= f.hidden_field :usuario_id, :value => session[:sis_logon].id %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
