<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @reclamacao.usuario %>
</p>

<p>
  <b>Titulo:</b>
  <%= @reclamacao.titulo %>
</p>

<p>
  <b>Descricao:</b>
  <%= @reclamacao.descricao %>
</p>

<p>
<b style="color:#006600"><%= @aprova %></b> <%= link_to 'Concorda', '/cadastrar_aprovacao/' + @reclamacao.id.to_s %> |
  <b style="color:#FF0000"><%= @reprova %></b> <%= link_to 'Discorda', '/cadastrar_reprovacao/' + @reclamacao.id.to_s %>
</p>

<%= link_to 'Edit', edit_reclamacao_path(@reclamacao) %> |
<%= link_to 'Back', reclamacaos_path %>
