<%= form_for(@opiniao) do |f| %>
  <% if @opiniao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opiniao.errors.count, "error") %> prohibited this opiniao from being saved:</h2>

      <ul>
      <% @opiniao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :gostou %><br />
    <%= f.check_box :gostou %>
  </div>
  <div class="field">
    <%= f.label :nao_gostou %><br />
    <%= f.check_box :nao_gostou %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
