<h1>Listing opiniaos</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Gostou</th>
    <th>Nao gostou</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @opiniaos.each do |opiniao| %>
  <tr>
    <td><%= opiniao.usuario %></td>
    <td><%= opiniao.gostou %></td>
    <td><%= opiniao.nao_gostou %></td>
    <td><%= link_to 'Show', opiniao %></td>
    <td><%= link_to 'Edit', edit_opiniao_path(opiniao) %></td>
    <td><%= link_to 'Destroy', opiniao, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opiniao', new_opiniao_path %>
