<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @opiniao.usuario %>
</p>

<p>
  <b>Gostou:</b>
  <%= @opiniao.gostou %>
</p>

<p>
  <b>Nao gostou:</b>
  <%= @opiniao.nao_gostou %>
</p>


<%= link_to 'Edit', edit_opiniao_path(@opiniao) %> |
<%= link_to 'Back', opiniaos_path %>
