<div id="login_form">

<%= form_tag('/login/create') do %>
    <div class="field">
      <%= label_tag 'Login:' %><br />
      <%= text_field_tag 'login' %>
    </div>
    <div class="field">
      <%= label_tag 'Senha:' %><br />
      <%= password_field_tag 'senha' %>
    </div>
    <div class="field acao">
      <%= button_tag 'Acessar' %>
    </div>
<% end %>

</div>

