<!DOCTYPE html>
<html>
<head>
  <title>Reclamecin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:sis_logon] %>
<div id="sessao" style="text-align: right;">
  <%= session[:sis_logon].login %> | <%= link_to("Sair", "/login/destroy") %>
</div>
<% end %>

<%= yield %>

</body>
</html>
